@import url(<link href="https://fonts.googleapis.com/css2?family=Gotu&family=Raleway&display=swap");
html {
  font-size: 12px
}
body {
    font-family: "Gotu", sans-serif;
  color: #C120AE; 
  line-height: 1.5;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway",serif;
}
img {
  height: 200px;
  float: center;
  padding: 18px;
  border: 1px solid #C120AE;
  padding: 2em;
}

header {
  background-color: #C120AE;
  color: white;
  text-align: center;
  padding: 1.5em;
}
container {
  background-color: white;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}
content {
  padding: 10px;
}
main {
  padding: 2em;
  width= 600px;
  float= right;
}
header, main, article, section {
  background-color: #EF1398;
}
footer,aside {
  clear= both;
  padding= 10px;
  color: black;
  background-color: white;
}
a:link {
  color: black;
}
a:visited {
  color:pink;
}
a:active {
  color:purple;
}
a:hover {
  color:white
}

* {box-sizing: border-box;}
.wrapper {
  max-width: 800px;
  margin: 0 auto;
}
main aside ul {
  list-style: none;
  margin: 1.5;
  padding: 2;
}
